<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Add Customer</h4>
	</div>

	<div class="modal-body"> 

        <div class="row">
            <div class="col-md-12">
                <div class="note note-success">
                    <h4 class="block">System Message: </h4>
                    <p> All form labels with (*) asterisks are required.</p>
                </div>
            </div>
        </div>        

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>



        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">First Name (<span class="font-red-mint">*</span>)</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="customer.first_name" placeholder="Input first name.."> 
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label">Last Name (<span class="font-red-mint">*</span>)</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="customer.last_name" placeholder="Input last name.."> 
                    </div>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Mobile Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-mobile"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="customer.mobile_number" placeholder="Input mobile number.."> 
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-building"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="customer.address" placeholder="Input address.."> 
                    </div>
                </div>
            </div>            
        </div>        

	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div>