<div class="row stacked" ng-init="generate()">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Inventory Report</span>
                </div>
                <div class="actions">
<!--                    <input type="hidden" id="salesreport_date_range">-->
<!--                    <div class="btn-group">-->
<!--                        <div id="reportrange" class="btn default">-->
<!--                            <i class="fa fa-calendar"></i> &nbsp;-->
<!--                            <span> </span>-->
<!--                            <b class="fa fa-angle-down"></b>-->
<!--                        </div>-->
<!--                    </div>-->

                    <a ng-click="export()" class="btn btn-secondary m-btn m-btn--icon m-btn--pill m-btn--air">
                        <span>
                            <i class="fa fa-excel"></i>
                            <span>
                                Export to Excel
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <h5 ng-if="!isLoading && data.rows.length <= 0" style="text-align: center;font-size: 20px;">
                    <span class="icon-ban"></span>
                    <span> No Data Found. </span>
                </h5>

                <h5 ng-if="isLoading" style="text-align: center;font-size: 20px;">
                    <span class="fa-spin fa fa-spinner"></span>
                    <span> Generating Report...</span>
                    <p style="font-size: 12px;">It takes time to generate a report. Kindly please wait.</p>
                </h5>

                <table class="table table-condensed table-striped table-bordered table-header-fixed" ng-if="!isLoading && data.rows.length > 0">
                    <thead>
                    <tr class="">
                        <th> Item Name </th>
                        <th> Description </th>
                        <th> Unit </th>
                        <th style="text-align: right;"> Quantity </th>
                        <th style="text-align: right;"> Base Price </th>
                        <th style="text-align: right;"> Base Price Total </th>
                        <th style="text-align: right;"> Selling Price </th>
                        <th style="text-align: right;"> SRP Total</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="obj in data.rows">
                    <tr class="<% obj.element_class %>">
                        <td><% obj.item.name %></td>
                        <td><% obj.name %></td>
                        <td><% obj.base_unit.name %></td>
                        <td style="text-align: right;"> <% obj.readable.total_stocks %></td>
                        <td style="text-align: right;"> <% obj.base_price %> </td>
                        <td style="text-align: right;"> <% obj.readable.base_price_total %> </td>
                        <td style="text-align: right;"> <% obj.selling_price %> </td>
                        <td align="right"> <span class="bold"><% obj.readable.srp_total %></span> </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="bg-grey-steel bg-font-grey-steel">
                        <td style="text-align: right;"> <span class="bold">TOTAL</span> </td>
                        <td style="text-align: right;" colspan="4"></td>
                        <td style="text-align: right;"><span class="bold"><% data.base_price_total %></span></td>
                        <td></td>
                        <td style="text-align: right;"><span class="bold"><% data.srp_total %></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
