<div class="row stacked">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Inventory Summary Report</span>
                </div>
                <div class="actions">
                    <input type="hidden" id="salesreport_date_range">
                    <div class="btn-group">
                        <div id="reportrange" class="btn default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <span> </span>
                            <b class="fa fa-angle-down"></b>
                        </div>
                    </div>

                    <a ng-click="export()" class="btn btn-secondary m-btn m-btn--icon m-btn--pill m-btn--air">
                        <span>
                            <i class="fa fa-excel"></i>
                            <span>
                                Export to Excel
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <h5 ng-if="!isLoading && data.rows.length <= 0" style="text-align: center;font-size: 20px;">
                    <span class="icon-ban"></span>
                    <span> No Data Found. </span>
                </h5>

                <h5 ng-if="isLoading" style="text-align: center;font-size: 20px;">
                    <span class="fa-spin fa fa-spinner"></span>
                    <span> Generating Report...</span>
                    <p style="font-size: 12px;">It takes time to generate a report. Kindly please wait.</p>
                </h5>
                
                 <table class="table table-condensed table-striped table-bordered table-header-fixed" ng-if="!isLoading && data.rows.length > 0">
                    <thead>
                        <tr class="">                          
                            <th> Item </th>
                            <th style="text-align: right;">Beginning Stock</th>
                            <th style="text-align: right;"> Total Quantity Sold</th>
                            <th style="text-align: right;"> Total Remaining Stock</th>
                            <th style="text-align: right;"> Total Discount </th>
                            <th style="text-align: right;"> Total Sales</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="obj in data.rows">
                        <tr class="<% obj.element_class %>">
                            <td><% obj.item_name %> (<span><% obj.item_variation_name %></span>) </td>
                            <td style="text-align: right;"> <% obj.readable.total_beginning_stock %> <% obj.base_unit.name %></td>
                            <td style="text-align: right;"> <% obj.readable.total_quantity %> <% obj.base_unit.name %> </td>
                            <td style="text-align: right;"> <% obj.readable.total_remaining_stock %> <% obj.base_unit.name %> </td>
                            <td style="text-align: right;"> <% obj.readable.total_discount %> </td>
                            <td align="right"> <span class="bold"><% obj.readable.total_price %></span> </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr class="bg-grey-steel bg-font-grey-steel">
                            <td style="text-align: right;" colspan="5"> <span class="bold">TOTAL SALES</span> </td>
                            <td style="text-align: right;"><span class="bold"><% data.total_sales %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
