<div class="row stacked">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Net Sales Revenue</span>
                </div>
                <div class="actions">
                    <input type="hidden" id="salesreport_date_range">
                    <div class="btn-group">
                        <div id="reportrange" class="btn default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <span> </span>
                            <b class="fa fa-angle-down"></b>
                        </div>
                    </div>

                    <a ng-click="export()" class="btn btn-secondary m-btn m-btn--icon m-btn--pill m-btn--air">
                        <span>
                            <i class="fa fa-excel"></i>
                            <span>
                                Export to Excel
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <h5 ng-if="!isLoading && data.rows.length <= 0" style="text-align: center;font-size: 20px;">
                    <span class="icon-ban"></span>
                    <span> No Data Found. </span>
                </h5>

                <h5 ng-if="isLoading" style="text-align: center;font-size: 20px;">
                    <span class="fa-spin fa fa-spinner"></span>
                    <span> Generating Report...</span>
                    <p style="font-size: 12px;">It takes time to generate a report. Kindly please wait.</p>
                </h5>
                
                 <table class="table table-condensed table-striped table-bordered table-header-fixed" ng-if="!isLoading && data.rows.length > 0">
                    <thead>
                        <tr class="">
                            <th> Date </th>
                            <th> Transaction #/O.R. </th>                            
                            <th> Item </th>
                            <th style="text-align: right;"> Base Price </th>                            
                            <th style="text-align: right;"> Selling Price </th>
                            <th style="text-align: right;"> Quantity Sold</th>
                            <th style="text-align: right;"> Discount </th>
                            <th style="text-align: right;"> Net Sale</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="sales in data.rows">
                        <tr ng-repeat="entry in sales.entries" class="<% sales.element_class %>">
                            <td> <% sales.readable.transaction_date %> </td>
                            <!-- <td> <% sales.to_customer.fullname %> </td> -->
                            <td> <% sales.transaction_number %> / <% sales.or_number %></td>
                            <td> <% entry.item_name %> </td>
                            <td style="text-align: right;"> <% entry.readable.base_price %> </td>
                            <td style="text-align: right;"> <% entry.readable.price %> </td>
                            <td style="text-align: right;"> <% entry.quantity %> <% entry.base_unit.code %> </td>                            
                            <td style="text-align: right;"> <% entry.discount %> </td>
                            <td align="right"> <span class="bold"><% entry.readable.net_sales %></span> </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr class="bg-grey-steel bg-font-grey-steel">
                            <td style="text-align: right;" colspan="7"> <span class="bold">TOTAL NET SALE</span> </td>
                            <td style="text-align: right;"><span class="bold"><% data.total_net_sales %></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>