<div class="row stacked">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-red-sunglo hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Sales</span>
                </div>
                <div class="actions">
                    <input type="hidden" id="salesreport_date_range">
                    <div class="btn-group">
                        <div id="reportrange" class="btn default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <span> </span>
                            <b class="fa fa-angle-down"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <h5 ng-if="!isLoading && data.rows.length <= 0" style="text-align: center;font-size: 20px;">
                    <span class="icon-ban"></span>
                    <span> No Data Found. </span>
                </h5>

                <h5 ng-if="isLoading" style="text-align: center;font-size: 20px;">
                    <span class="fa-spin fa fa-spinner"></span>
                    <span> Generating Report...</span>
                    <p style="font-size: 12px;">It takes time to generate a report. Kindly please wait.</p>
                </h5>

                <table class="table table-condensed table-striped table-bordered table-header-fixed" ng-if="!isLoading && data.rows.length > 0">
                    <thead>
                        <tr class="">
                            <th> Transaction Date </th>
                            <th> Transaction Number </th>
                            <th colspan="3"> Customer Name </th>
                            <th> Total Items </th>                            
                            <th> Total Amount </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="sales in data.rows">
                        <tr class="<% sales.element_class %>">
                            <td style="text-align: center;"> <% sales.readable.transaction_date %> </td>
                            <td> <% sales.transaction_number %> </td>
                            <td colspan="3"> <% sales.to_customer.fullname %> </td>
                            <td> <% sales.total_items %> </td>
                            <td align="right"> <span class="bold"><% sales.readable.total_balance %></span> </td>
                        </tr>
                        <tr class="<% sales.element_class %>">
                            <th rowspan="<% (sales.entries.length + 1) %>" align="right"></th>
                            <th> Item </th>
                            <th> Quantity/Unit </th>
                            <th> Base Price </th>
                            <th> Unit Price </th>
                            <th> Discount </th>                            
                            <th> Total Price </th>
                        </tr>
                        <tr ng-repeat="entry in sales.entries" class="<% sales.element_class %>">
                            <td> <% entry.item_name %></td>
                            <td> <% entry.quantity %> <% entry.base_unit.code %> </td>
                            <td> <% entry.readable.base_price %> </td>
                            <td> <% entry.readable.price %> </td>
                            <td> <% entry.discount %> </td>
                            <td align="right"> <span class="bold"><% entry.readable.total_price %></span> </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr class="bg-grey-steel bg-font-grey-steel">
                            <td style="text-align: right;" colspan="6"> <span class="bold">GRAND TOTAL</span> </td>
                            <td style="text-align: right;"><span class="bold"><% data.grand_total %></span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>