<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-bubbles font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">System Updates</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#portlet_comments_1" data-toggle="tab"> Newly Update </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_comments_1">
                <!-- BEGIN: Comments -->
                <div class="mt-comments">
                    <div class="mt-comment" ng-repeat="update in data">
                        <div class="mt-comment-img">
                            <img src="/assets/pages/media/users/avatar1.jpg"> </div>
                        <div class="mt-comment-body">
                            <div class="mt-comment-info">
                                <span class="mt-comment-author">BIZWEX</span>
                                <span class="mt-comment-date"><% update.created_at %></span>
                            </div>
                            <div class="mt-comment-text"> <% update.description %> </div>
                            <div class="mt-comment-details">
                                <span class="mt-comment-status mt-comment-status-pending"><% update.title %></span>
                            </div>
                        </div>
                    </div>                    
                </div>
                <!-- END: Comments -->
            </div>
        </div>
    </div>
</div>
