<div class="parent-modal" style="position: relative;">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
        <h4 class="modal-title">Create Sales Invoice</h4>
    </div>

    <div class="modal-body"> 

        <div class="alert alert-danger" ng-if="errors.length > 0">
            <ul>
                <li ng-repeat="(key, value) in errors"><% value %></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Invoice Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="sales.or_number" placeholder="Input official receipt number..">

                    </div>
                    <p class="help-block"> Leave this blank and it will generate the sales number automatically. </p>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Transaction Date</label>
                     <!-- <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-0d"> -->
                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                        <input type="text" class="form-control" readonly ng-model="sales.transaction_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Customer</label>
                    <div class="input-group">
                    <select id="customer" class="bs-select form-control" ng-model="sales.customer_id" select-picker obj="<% default.customers %>" data-live-search="true" data-size="8">
                        <option ng-value="customer.id" ng-repeat="customer in default.customers"><% customer.first_name %> <% customer.last_name %></option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-md default btn-condensed" ng-click="addCustomer()"><i class="fa fa-plus"></i></button>
                    </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-4">

            </div>
        </div>

        <hr>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
                <tr>
                    <th colspan="6" align="center" style="text-align: center;">Items</th>
                </tr>
                <tr>
                    <th width="10%">  </th>
                    <th width="30%"> Item </th>
                    <th width="10%"> Quantity </th>
                    <th width="15%"> Price </th>
                    <th width="15%"> Discount </th>
                    <th width="15%"> Total Price </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && sales.items.length <= 0">
                    <td colspan="6" align="center">No Results Found</td>
                </tr>
                <tr ng-repeat="item in sales.items track by $index">
                    <td>
                        <button ng-if="sales.items.length > 1" ng-click="removeItemRow($index)" type="button" class="btn btn-sm btn-danger btn-condensed"><i class="fa fa-trash"></i></button>   
                        <button ng-if="sales.items.length <= 1" disabled="disabled" type="button" class="btn btn-sm btn-disabled btn-condensed"><i class="fa fa-trash"></i></button>   
                    </td>
                    <td>
                      <input type="text" readonly="readonly" placeholder="Search Item..." ng-model="item.name" class="form-control" ng-click="searchItem($index)">  
                    </td>
                    <td><input type="text" style="text-align: right;" placeholder="Quantity" class="form-control" ng-model="item.quantity" trigger-event run-method="computeTotal"></td>
                    <td><input type="text" style="text-align: right;" placeholder="Price" class="form-control" ng-model="item.selling_price"  trigger-event run-method="computeTotal" ng-currency currency-symbol=""></td>
                    <td><input type="text" style="text-align: right;" placeholder="Price" class="form-control" ng-model="item.discount"  trigger-event run-method="computeTotal" ng-currency currency-symbol=""></td>
                    <td><input type="text" style="text-align: right;" placeholder="Total" readonly="readonly" class="form-control" ng-model="item.total_price" ng-currency currency-symbol=""></td>
                </tr>
                <tr>
                    <td colspan="6"><button ng-click="add_item()" type="button" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> New Item</button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">SUB TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% currency_format(sales.sub_total) %></td>
                </tr>
                <tr>
                    <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">DISCOUNT: </td>
                    <td style="text-align: right; font-weight: bold;"><% currency_format(sales.discount) %></td>
                </tr>
                <tr>
                    <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">GRAND TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% currency_format(sales.grand_total) %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
        <button ng-if="isLoading" class="btn blue">PROCESSING</button>
        <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
    </div>

</div>


<!-- 
<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Add Orders</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">O.R. Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="orders.or_number" placeholder="Input official receipt number.."> 
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Transaction Date</label>
                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                        <input type="text" class="form-control" readonly ng-model="orders.transaction_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Customer</label>
                    <div class="input-group">
                    <select id="customer" class="bs-select form-control" ng-model="orders.customer_id" select-picker obj="<% default.customers %>" data-live-search="true" data-size="8">
                        <option ng-value="customer.id" ng-repeat="customer in default.customers"><% customer.first_name %> <% customer.last_name %></option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-md default btn-condensed" ng-click="addCustomer()"><i class="fa fa-plus"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <button type="button" ng-click="searchItem()" class="btn btn-default btn-sm pull-right" style="margin-bottom: 10px;"><i class="fa fa-search"></i> Search and Add Items</button>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
            	<tr>
            		<th colspan="7" align="center" style="text-align: center;">Items</th>
            	</tr>
                <tr>
                	<th width="20%"> Item </th>
                    <th width="15%"> Stocks </th>
                    <th width="10%"> Unit </th>
                    <th width="15%"> Price </th>
                    <th width="15%"> Quantity </th>
                    <th width="15%"> Discount </th>
                    <th width="30%"> Total Price </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && inventory.length <= 0">
                    <td colspan="7" align="center">No Results Found</td>
                </tr>
                <tr ng-repeat="inv in inventory">
                	<td valign="middle" style="vertical-align: middle;">
                        <p><% inv.item_variation.item.name %> <% inv.item_variation.name %></p>
                    </td>
                    <td style="vertical-align: middle; text-align: center;"><% inv.stocks %></td>
                    <td>
                        <p><% inv.item_variation.base_unit.name %></p>
                    </td> 
                    <td style="text-align: right; vertical-align: middle;">
                        <input type="text" ng-currency currency-symbol="" ng-model="inv.item_variation.selling_price" class="form-control input-sm" placeholder="" ng-change="computeTotal(inv.quantity, inv.item_variation.selling_price, inv)"> 
                    </td>                   
                    <td style="vertical-align: middle;">
                        <input type="text" ng-model="inv.quantity" class="form-control input-sm" placeholder="" ng-change="computeTotal(inv.quantity, inv.item_variation.selling_price, inv)"> 
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="text" ng-currency currency-symbol="" ng-model="inv.discount" class="form-control input-sm" placeholder="" ng-change="applyDiscount(inv.discount, inv)"> 
                    </td>
                    <td style="vertical-align: middle; text-align: right;">
                    	<% inv.total_price %>
	                </td>   
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="6"  style="text-align: right; font-weight: bold;">SUB TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% total.sub %></td>
                </tr>
                <tr>
                    <td colspan="6"  style="text-align: right; font-weight: bold;">DISCOUNT: </td>
                    <td style="text-align: right; font-weight: bold;"><% total.discount %></td>
                </tr>
                <tr>
                    <td colspan="6"  style="text-align: right; font-weight: bold;">GRAND TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% total.grand %></td>
                </tr>
            </tbody>
        </table>
	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div> -->