<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Create Sales Invoice Payment</h4>
	</div>

	<div class="modal-body" ng-init="loadInvoiceData(); calendar();"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Invoice Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" readonly="readonly" class="form-control" ng-model="invoice.invoice_number" placeholder="Input official receipt number..">
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Transaction Date</label>

                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                        <input type="text" class="form-control" readonly ng-model="invoice.transaction_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Customer:</label>
                    <h5><% invoice.customer.first_name %> <% invoice.customer.last_name %></h5>
                </div>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Due Date</label>
                    <input type="text" class="form-control" readonly ng-model="invoice.due_date">
                </div>
            </div>
        </div>

        <hr>


        <uib-tabset active="active">

            <uib-tab index="0" heading="Items">
                <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
                    <thead>
                        <tr>
                            <th width="10%">  </th>
                            <th width="30%"> Item </th>
                            <th width="10%"> Quantity </th>
                            <th width="15%"> Price </th>
                            <th width="15%"> Discount </th>
                            <th width="15%"> Total Price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!isLoading && invoice.items.length <= 0">
                            <td colspan="6" align="center">No Results Found</td>
                        </tr>
                        <tr ng-repeat="item in invoice.items track by $index">
                            <td>
                                <% $index + 1 %> 
                            </td>
                            <td>
                              <input type="text" readonly="readonly" placeholder="Search Item..." ng-model="item.name" class="form-control" ng-click="searchItem($index)">  
                            </td>
                            <td><input type="text" style="text-align: right;" readonly="readonly" placeholder="Quantity" class="form-control" ng-model="item.quantity"></td>
                            <td><input type="text" style="text-align: right;" readonly="readonly" placeholder="Price" class="form-control" ng-model="item.selling_price" ng-currency currency-symbol=""></td>
                            <td><input type="text" style="text-align: right;" readonly="readonly" placeholder="Price" class="form-control" ng-model="item.discount" ng-currency currency-symbol=""></td>
                            <td><input type="text" style="text-align: right;" readonly="readonly" placeholder="Total" readonly="readonly" class="form-control" ng-model="item.total_price" ng-currency currency-symbol=""></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">SUB TOTAL: </td>
                            <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.sub_total) %></td>
                        </tr>
                        <tr>
                            <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">DISCOUNT: </td>
                            <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.discount) %></td>
                        </tr>
                        <tr>
                            <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">GRAND TOTAL: </td>
                            <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.grand_total) %></td>
                        </tr>

                        <tr>
                            <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">BALANCE: </td>
                            <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.balance) %></td>
                        </tr>

                        <tr ng-if="invoice.status_code == 'approved' || invoice.status_code == 'partial'">
                            <td colspan="5"  style="text-align: right; vertical-align: middle;  font-weight: bold; padding-right: 5px;">AMOUNT: </td>
                            <td style="text-align: right; vertical-align: middle; font-weight: bold;">
                                <input type="text" class="form-control" style="text-align: right;" ng-model="payment.amount" trigger-event run-method="computeTotal" ng-currency currency-symbol="">
                            </td>
                        </tr>

                        <tr ng-if="invoice.status_code == 'approved' || invoice.status_code == 'partial'">
                            <td colspan="5"  style="text-align: right; vertical-align: middle;  font-weight: bold; padding-right: 5px;"></td>
                            <td style="text-align: right; vertical-align: middle; font-weight: bold;">
                                <button ng-hide="!isLoading" class="btn blue">PROCESSING</button>
                                <button ng-hide="isLoading" type="button" class="btn green " ng-click="submit()">Pay Now</button>
                            </td>
                        </tr>

                        <tr ng-if="invoice.status_code == 'paid'">
                            <td colspan="5"  style="text-align: right; vertical-align: middle;  font-weight: bold; padding-right: 5px;"></td>
                            <td style="text-align: right; vertical-align: middle; font-weight: bold;">
                                <label class="label label-success">PAID</label>
                            </td>
                        </tr>

                                
                    </tbody>
                </table>
            </uib-tab>

            <uib-tab index="1" heading="Payment History">
                <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
                    <thead>
                        <tr>
                            <th width="10%">  </th>
                            <th width="10%"> Amount </th>
                            <th width="10%"> Paid At </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!isLoading && invoice.payments.length <= 0">
                            <td colspan="3" align="center">No Results Found</td>
                        </tr>
                        <tr ng-repeat="item in invoice.payments track by $index">
                            <td style="vertical-align: middle;">
                                <% $index + 1 %> 
                            </td>
                            <td>
                                <input type="text" style="text-align: right;" readonly="readonly" placeholder="Price" class="form-control" ng-model="item.amount" ng-currency currency-symbol="">
                            </td>
                            <td>
                                <input type="text" style="text-align: right;" readonly="readonly" placeholder="Price" class="form-control" ng-model="item.paid_at">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>

            <uib-tab index="2" heading="Logs">
                
            </uib-tab>

        </uib-tabset>

	</div>

	<div class="modal-footer">
	    <a ng-show="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	</div>

</div>

