<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Create Sales Invoice</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Invoice Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="invoice.invoice_number" placeholder="Input official receipt number..">

                    </div>
                    <p class="help-block"> Leave this blank and it will generate the invoice number automatically. </p>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Transaction Date</label>
                     <!-- <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-0d"> -->
                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                        <input type="text" class="form-control" readonly ng-model="invoice.transaction_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Customer</label>
                    <div class="input-group">
                    <select id="customer" class="bs-select form-control" ng-model="invoice.customer_id" select-picker obj="<% default.customers %>" data-live-search="true" data-size="8">
                        <option ng-value="customer.id" ng-repeat="customer in default.customers"><% customer.first_name %> <% customer.last_name %></option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-md default btn-condensed" ng-click="addCustomer()"><i class="fa fa-plus"></i></button>
                    </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Due Date</label>
                     <!-- <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-0d"> -->
                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                        <input type="text" class="form-control" readonly ng-model="invoice.due_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
            	<tr>
            		<th colspan="6" align="center" style="text-align: center;">Items</th>
            	</tr>
                <tr>
                    <th width="10%">  </th>
                	<th width="30%"> Item </th>
                    <th width="10%"> Quantity </th>
                    <th width="15%"> Price </th>
                    <th width="15%"> Discount </th>
                    <th width="15%"> Total Price </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && invoice.items.length <= 0">
                    <td colspan="6" align="center">No Results Found</td>
                </tr>
                <tr ng-repeat="item in invoice.items track by $index">
                	<td>
                        <button ng-if="invoice.items.length > 1" ng-click="removeItemRow($index)" type="button" class="btn btn-sm btn-danger btn-condensed"><i class="fa fa-trash"></i></button>   
                        <button ng-if="invoice.items.length <= 1" disabled="disabled" type="button" class="btn btn-sm btn-disabled btn-condensed"><i class="fa fa-trash"></i></button>   
                    </td>
                    <td>
                      <input type="text" readonly="readonly" placeholder="Search Item..." ng-model="item.name" class="form-control" ng-click="searchItem($index)">  
                    </td>
                    <td><input type="text" style="text-align: right;" placeholder="Quantity" class="form-control" ng-model="item.quantity" trigger-event run-method="computeTotal"></td>
                    <td><input type="text" style="text-align: right;" placeholder="Price" class="form-control" ng-model="item.selling_price"  trigger-event run-method="computeTotal" ng-currency currency-symbol=""></td>
                    <td><input type="text" style="text-align: right;" placeholder="Price" class="form-control" ng-model="item.discount"  trigger-event run-method="computeTotal" ng-currency currency-symbol=""></td>
                    <td><input type="text" style="text-align: right;" placeholder="Total" readonly="readonly" class="form-control" ng-model="item.total_price" ng-currency currency-symbol=""></td>
                </tr>
                <tr>
                    <td colspan="6"><button ng-click="add_item()" type="button" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> New Item</button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">SUB TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.sub_total) %></td>
                </tr>
                <tr>
                    <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">DISCOUNT: </td>
                    <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.discount) %></td>
                </tr>
                <tr>
                    <td colspan="5"  style="text-align: right; font-weight: bold; padding-right: 5px;">GRAND TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% currency_format(invoice.grand_total) %></td>
                </tr>
            </tbody>
        </table>
	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div>

