<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-briefcase fa-icon-medium"></i>
            </div>
            <div class="details">
                <div class="number"> <% statistics.total_sales.formatted %> </div>
                <div class="desc"> Total Sales </div>
            </div>
            <a class="more" href="javascript:;"> Total sales for today by default
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number"> <% statistics.total_transactions.formatted %> </div>
                <div class="desc"> Total Transactions </div>
            </div>
            <a class="more" href="javascript:;"> Total transactions for today by default
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-scissors fa-icon-medium"></i>
            </div>
            <div class="details">
                <div class="number"> <% statistics.total_discounts.formatted %> </div>
                <div class="desc"> Total Discounts </div>
            </div>
            <a class="more" href="javascript:;"> Total discounts for today by default
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-clone fa-icon-medium"></i>
            </div>
            <div class="details">
                <div class="number"> <% statistics.total_items.formatted %> </div>
                <div class="desc"> Total Items </div>
            </div>
            <a class="more" href="javascript:;"> Total items for today by default
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">Orders</span>
                    <span class="caption-helper">order's overview...</span>
                </div>
                <div class="actions">
                    <input type="hidden" id="salesreport_date_range">
                    <div class="btn-group">
                        <div id="reportrange" class="btn default">
                            <i class="fa fa-calendar"></i> &nbsp;
                            <span> </span>
                            <b class="fa fa-angle-down"></b>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn green btn-circle btn-sm" href="javascript:;" ng-click="addOrderTransaction()"> <i class="fa fa-plus"></i> Add Order</a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row stacked">
                    <!-- <div class="col-md-12">
                        <h5>Filter By: </h5>
                        <div class="row stacked">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select class="form-control input-sm" ng-model="filter.campaign_type_id"  ng-change="doSearch()" select-picker obj="defaults.CampaignTypeSetting">
                                        <option ng-value="0">All</option>
                                        <option ng-value="val.id" ng-repeat="val in defaults.CampaignTypeSetting"><% val.title %></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control input-sm" ng-model="filter.category_id"  ng-change="doSearch()" select-picker obj="defaults.CampaignCategorySetting">
                                        <option ng-value="0">All</option>
                                        <option ng-value="val.id" ng-repeat="val in defaults.CampaignCategorySetting"><% val.title %></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Cause</label>
                                    <select class="form-control input-sm" ng-model="filter.cause_id"  ng-change="doSearch()" select-picker obj="defaults.CampaignCauseSetting">
                                        <option ng-value="0">All</option>
                                        <option ng-value="val.id" ng-repeat="val in defaults.CampaignCauseSetting"><% val.title %></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input " style="margin-left: -15px !important;">
                            <div class="col-md-12">
                                <div class="input-group ">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" ng-model="pagination.search" my-enter="doSearch()" placeholder="Search...">
                                        <div class="form-control-focus"> </div>
                                    </div>

                                    <span class="input-group-btn btn-right">
                                        <button class="btn btn-sm green btn-outline filter-submit margin-bottom" ng-click="doSearch()" ><i class="fa fa-search"></i> Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div class="pull-right" style="padding-top: 20px;">
                            <!-- <button class="btn btn-default active"><span class="fa fa-search"></span> Search</button>
                            <button class="btn btn-default"><span class="fa fa-image"></span> Images</button>
                            <button class="btn btn-default"><span class="fa fa-map-marker"></span> Maps</button>
                            <button class="btn btn-default"><span class="fa fa-camera"></span> Video</button> -->
                            View 
                            <div class="btn-group">
                                <select class="" ng-model="pagination.itemsPerPage" select-picker obj="pagination.itemsPerPage" ng-change="setItemsPerPage(pagination.itemsPerPage)">
                                    <option ng-value="10">10</option>
                                    <option ng-value="20">20</option>
                                    <option ng-value="50">50</option>
                                    <option ng-value="100">100</option>
                                </select>
                                
                            </div>
                            records | Total Found <% pagination.totalItems %> records
                        </div>
                    </div>
                </div>

                <br>

                <div class="table-container">
                    <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="4"> </th>                                    
                                <th width="20"> Transaction Number </th>
                                <th width="100"> O.R. Number </th>
                                <th width="30"> Customer </th>
                                <th width="10"> Transaction Date </th>
                                <th width="10"> Total Items </th>
                                <th width="20"> Total Discount </th>
                                <th width="20"> Total Amount </th>
                            </tr>
                        </thead>
                        <tbody>
                                                               
                            <tr ng-if="isLoading && pagination.objects.length <= 0" class="va-middle">
                                <td colspan="8" align="center"><i class="icon-reload"></i></td>
                            </tr>
                            <tr ng-if="!isLoading && pagination.objects.length <= 0" class="va-middle">
                                <td colspan="8" align="center">No Result Found</td>
                            </tr>
                            <tr ng-if="!isLoading && pagination.objects.length >= 1" class="va-middle" ng-repeat="obj in pagination.objects">
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-circle btn-default dropdown-toggle btn-xs" data-toggle="dropdown"> <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="viewOrderTransaction(obj)"> <span class="fa fa-eye"></span> View </a>
                                            </li>
                                        </ul>                                            
                                    </div>
                                </td>
                                <td> <% obj.transaction_number %> </td>
                                <td> <% obj.or_number %> </td>
                                <td> <% obj.to_customer.first_name %> <% obj.to_customer.last_name %> </td>
                                <td> <% obj.formatted_transaction_date %> </td>
                                <td> <% obj.total_items %> </td>
                                <td align="right"> <% obj.total_debit %> </td>
                                <td align="right"> <% obj.total_credit %> </td>

                            </tr>                                
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" items-per-page="pagination.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

