<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">Invoice</span>
                    <span class="caption-helper">Invoice overview...</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn green btn-circle btn-sm" href="javascript:;" ng-click="addInvoice()"> <i class="fa fa-plus"></i> Sales Invoice</a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row stacked">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input " style="margin-left: -15px !important;">
                            <div class="col-md-12">
                                <div class="input-group ">
                                    <div class="input-group-control">
                                        <input type="text" class="form-control" ng-model="pagination.search" my-enter="doSearch()" placeholder="Search...">
                                        <div class="form-control-focus"> </div>
                                    </div>

                                    <span class="input-group-btn btn-right">
                                        <button class="btn btn-sm green btn-outline filter-submit margin-bottom" ng-click="doSearch()" ><i class="fa fa-search"></i> Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div class="pull-right" style="padding-top: 20px;">
                            <!-- <button class="btn btn-default active"><span class="fa fa-search"></span> Search</button>
                            <button class="btn btn-default"><span class="fa fa-image"></span> Images</button>
                            <button class="btn btn-default"><span class="fa fa-map-marker"></span> Maps</button>
                            <button class="btn btn-default"><span class="fa fa-camera"></span> Video</button> -->
                            View 
                            <div class="btn-group">
                                <select class="" ng-model="pagination.itemsPerPage" select-picker obj="pagination.itemsPerPage" ng-change="setItemsPerPage(pagination.itemsPerPage)">
                                    <option ng-value="10">10</option>
                                    <option ng-value="20">20</option>
                                    <option ng-value="50">50</option>
                                    <option ng-value="100">100</option>
                                </select>
                                
                            </div>
                            records | Total Found <% pagination.totalItems %> records
                        </div>
                    </div>
                </div>

                <br>

                <div class="table-container">
                    <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="4"> </th>                                    
                                <th width="20"> Invoice Number </th>
                                <th width="30"> Customer </th>
                                <th width="10"> Invoice Date </th>
                                <th width="10"> Due Date </th>
                                <th width="10"> Status  </th>
                                <th width="20"> Amount </th>
                            </tr>
                        </thead>
                        <tbody>
                                                               
                            <tr ng-if="isLoading && pagination.objects.length <= 0" class="va-middle">
                                <td colspan="7" align="center"><i class="icon-reload"></i></td>
                            </tr>
                            <tr ng-if="!isLoading && pagination.objects.length <= 0" class="va-middle">
                                <td colspan="7" align="center">No Result Found</td>
                            </tr>
                            <tr ng-if="!isLoading && pagination.objects.length >= 1" class="va-middle" ng-repeat="obj in pagination.objects">
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-circle btn-default dropdown-toggle btn-xs" data-toggle="dropdown"> <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a ng-click="viewInvoice(obj)"> <span class="fa fa-eye"></span> View </a>
                                            </li>
                                        </ul>                                            
                                    </div>
                                </td>
                                <td> <% obj.invoice_number %> </td>
                                <td> <% obj.customer.first_name %> <% obj.customer.last_name %> </td>
                                <td> <% obj.invoiced_at %> </td>
                                <td> <% obj.due_at %> </td>
                                <td> 
                                    <span ng-if="obj.status_code == 'approved'" class="label label-warning">Not Paid</span> 
                                    <span ng-if="obj.status_code == 'partial'" class="label label-info">Partial</span> 
                                    <span ng-if="obj.status_code == 'paid'" class="label label-success">Paid</span> 
                                </td>
                                <td align="right"><% currency_format(obj.amount) %> </td>
                            </tr>                                
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" items-per-page="pagination.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

