<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Search Item</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Search Item Name</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-magnifier"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="search_input" placeholder="Doesn't find your item? Search it..." trigger-event run-method="getItems"> 
                    </div>
                </div>
            </div>           
        </div>

        <hr>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
                <tr>
                    <th width="15%"> Name </th>
                    <th width="15%"> Description </th>
                    <th width="12%"> Quantity </th>
                    <th width="15%"> Base Price/Cost </th>
                    <th width="15%"> Selling Price </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && item_list.length <= 0">
                    <td colspan="5" align="center">No Results Found</td>
                </tr>
                <tr ng-if="!isLoading && item_list.length > 0" ng-repeat="variation in item_list track by $index" ng-click="selectItem(variation)" style="cursor: pointer;">
                    <td style="text-align: left; padding-left: 5px;"><h5><% variation.item_variation.item.name %></h5></td>
                    <td><h5><% variation.item_variation.name %></h5></td>
                    <td style="text-align: center;"><h5><% variation.stocks %></h5></td>
                    <td style="text-align: right;"><h5><% variation.item_variation.base_price %></h5></td>
                    <td style="text-align: right;"><h5><% variation.item_variation.selling_price %></h5></td>                    
                </tr>

            </tbody>
        </table>        

	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	</div>

</div>