<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">View Transaction</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">O.R. Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" disabled="disabled" class="form-control" ng-model="transaction.or_number" placeholder="Input official receipt number.."> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Transaction Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" disabled="disabled" class="form-control" ng-model="transaction.transaction_number" placeholder="Input official receipt number.."> 
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Transaction Date</label>
                     <!-- <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-0d"> -->
                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                        <input type="text" class="form-control" readonly ng-model="transaction.transaction_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Customer</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" disabled="disabled" class="form-control" placeholder="Input official receipt number.." value="<% transaction.to_customer.first_name %> <% transaction.to_customer.last_name %>"> 
                    </div>

                </div>
            </div>
        </div>

        <hr>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
            	<tr>
            		<th colspan="6" align="center" style="text-align: center;">Items</th>
            	</tr>
                <tr>
                	<th width="20%"> Item </th>
                    <th width="15%"> Base Price </th>
                    <th width="15%"> Price </th>
                    <th width="15%"> Quantity </th>
                    <th width="10%"> Unit </th>                    
                    <th width="15%"> Discount </th>
                    <th width="30%"> Total Price </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && transaction.entries.length <= 0">
                    <td colspan="6" align="center">No Results Found</td>
                </tr>
                <tr ng-repeat="inv in transaction.entries">
                	<td valign="middle" style="vertical-align: middle;">
                        <p><% inv.item_name %> <% inv.item_variation_name %></p>
                    </td>
                    <td style="text-align: right; vertical-align: middle;">
                        <% inv.base_price %>
                    </td>
                    <td style="text-align: right; vertical-align: middle;">
                        <% inv.price %>
                    </td>                   
                    <td style="vertical-align: middle;">
                        <% inv.quantity %>
                    </td>
                    <td style="text-align: right; vertical-align: middle;">
                        <p><% inv.item_variation.base_unit.name %></p>
                    </td>                     
                    <td style="vertical-align: middle;">
                        <% inv.discount %>
                    </td>
                    <td style="vertical-align: middle; text-align: right;">
                    	<% inv.total_price %>
	                </td>   
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="6"  style="text-align: right; font-weight: bold;">SUB TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% total.sub %></td>
                </tr>
                <tr>
                    <td colspan="6"  style="text-align: right; font-weight: bold;">DISCOUNT: </td>
                    <td style="text-align: right; font-weight: bold;"><% total.discount %></td>
                </tr>
                <tr>
                    <td colspan="6"  style="text-align: right; font-weight: bold;">GRAND TOTAL: </td>
                    <td style="text-align: right; font-weight: bold;"><% total.grand %></td>
                </tr>
            </tbody>
        </table>
	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	</div>

</div>