<div class="form-horizontal">

    <h3 class="form-title font-green">Sign In</h3>

    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <input id="email" type="email" class="form-control form-control-solid placeholder-no-fix" name="email" ng-model="user.email" required autofocus>
    </div>

    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input id="password" type="password" class="form-control form-control-solid placeholder-no-fix" ng-model="user.password" name="password" required>
    </div>

    <div class="form-actions">
        <button class="btn green uppercase" ng-click="login()">Login</button>
        <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>

</div>