<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Add Item</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Item Name</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="item.name" placeholder="Input item name.."> 
                    </div>
                </div>
            </div>           
        </div>

        <hr>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
                <tr>
                    <th colspan="6" align="center" style="text-align: center;">Item Variations</th>
                </tr>
                <tr>
                    <th width="30%"> Variation Name </th>
                    <th width="15%"> Unit </th>
                    <th width="12%"> Quantity </th>
                    <th width="15%"> Base Price/Cost </th>
                    <th width="15%"> Selling Price </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && item.item_variations.length <= 0">
                    <td colspan="6" align="center">No Results Found</td>
                </tr>
                <tr ng-if="!isLoading && item.item_variations.length > 0" ng-repeat="variation in item.item_variations track by $index">
                    <td style="vertical-align: middle;">
                        <input type="text" ng-model="variation.name" class="form-control input-sm" placeholder=""> 
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="input-sm units" ng-model="variation.base_unit_id" select-picker obj="<% defaults.units %>" data-live-search="true" data-size="8">
                                <option ng-value="unit.id" ng-repeat="unit in defaults.units"><% unit.code %> - <% unit.name %></option>
                            </select>
                        </div> 
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="number" ng-model="variation.quantity" class="form-control input-sm" placeholder=""> 
                    </td>                     
                    <td style="vertical-align: middle;">
                        <input type="text" ng-currency currency-symbol="" ng-model="variation.base_price" class="form-control input-sm" placeholder=""> 
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="text" ng-currency currency-symbol="" ng-model="variation.selling_price" class="form-control input-sm" placeholder=""> 
                    </td>
                    <td style="vertical-align: middle;">
                        <div class="btn-group" ng-if="item.item_variations.length > 1">
                            <a ng-click="removeRow($index)" class="btn btn-circle btn-danger btn-xs" data-toggle="dropdown"> <i class="fa fa-minus"></i></a> 
                        </div>                        
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <div class="btn-group">
                            <button type="button" ng-click="addRow()" class="btn btn-default btn-sm btn-condensed"><i class="fa fa-plus"></i> Add Row</button>
                            <button type="button" ng-click="addUnit()" class="btn btn-default btn-sm btn-condensed"><i class="fa fa-plus"></i> Add Unit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>        

	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div>