<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Add Stocks</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">O.R. Number</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <input type="text" class="form-control" ng-model="stock.or_number" placeholder="Input official receipt number.."> 
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="control-label">Transaction Date</label>
                     <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="-0d">
                        <input type="text" class="form-control" readonly ng-model="stock.transaction_date">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    <label class="control-label">Supplier</label>
                    <div class="input-group">
                    <select id="supplier" class="bs-select form-control" ng-model="stock.supplier_id" select-picker obj="<% default.suppliers %>" data-live-search="true" data-size="8">
                        <option ng-value="supplier.id" ng-repeat="supplier in default.suppliers"><% supplier.code %> - <% supplier.name %></option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-md default btn-condensed" ng-click="addSupplier(getSuppliers)"><i class="fa fa-plus"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <button type="button" ng-click="searchItem()" class="btn btn-default btn-sm pull-right" style="margin-bottom: 10px;"><i class="fa fa-search"></i> Search and Add Items</button>

        <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
            <thead>
            	<tr>
            		<th colspan="5" align="center" style="text-align: center;">Items</th>
            	</tr>
                <tr>
                	<th width="20%"> Item Variation </th>
                    <th width="15%"> Unit </th>
                    <th width="20%"> Quantity </th>                    
                    <th> Base Price/Cost </th>
                    <th> Selling Price </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!isLoading && inventory.length <= 0">
                    <td colspan="5" align="center">No Results Found</td>
                </tr>
                <tr ng-repeat="inv in inventory">
                	<td valign="middle" style="vertical-align: middle;"><% inv.item_variation.item.name %> <% inv.item_variation.name %></td>
                    <td>
                        <div class="form-group">
                            <select id="units" class="input-sm" ng-model="inv.item_variation.base_unit.id" select-picker obj="<% default.units %>" data-live-search="true" data-size="8">
                                <option ng-value="unit.id" ng-repeat="unit in default.units"><% unit.code %> - <% unit.name %></option>
                            </select>
                        </div> 
                    </td>
                    <td style="vertical-align: middle;">
                        <input type="number" ng-model="inv.item_variation.quantity" class="form-control input-sm" placeholder=""> 
                    </td>                     
                    <td style="vertical-align: middle;">
                    	<input type="text" ng-currency currency-symbol="" ng-model="inv.item_variation.base_price" class="form-control input-sm" placeholder=""> 
	                </td>
                    <td style="vertical-align: middle;">
                    	<input type="text" ng-currency currency-symbol="" ng-model="inv.item_variation.selling_price" class="form-control input-sm" placeholder=""> 
	                </td>   
                </tr>
            </tbody>
        </table>
	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div>