<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Adjust Stock</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>
	    

		<div class="mt-comments">
            <div class="mt-comment">
                <div class="mt-comment-img">
                    <img src="/assets/pages/media/profile/avatar.png"> 
                </div>
                <div class="mt-comment-body">
                    <div class="mt-comment-info">
                        <span class="mt-comment-author"><% inventory.item_variation.item.name %></span>
                        <span class="mt-comment-date">Stocks: <% inventory.stocks %> <% inventory.item_variation.base_unit.code %></span>
                    </div>
                    <div class="mt-comment-text"> <% inventory.item_variation.name %> </div>
                </div>
            </div>
        </div>

        <hr>

        <table class="table table-striped table-hover table-bordered table-condensed">
            <thead>
            	<tr>
            		<th colspan="3" align="center" style="text-align: center;">Stock Adjustment</th>
            	</tr>
                <tr>
                	<th> Adjustment Type </th>
                    <th> Unit </th>
                    <th> Quantity </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: middle;">
                    	 <select class="" ng-model="adjustment.type" select-picker ng-change="computeNewTotal(adjustment.type, adjustment.quantity)">
                            <option ng-value="'add'">Add</option>
                            <option ng-value="'less'">Less</option>
                        </select>
	                </td>
                    <td style="vertical-align: middle;">
                         <div class="form-group">
                            <select class="input-sm units" ng-model="inventory.item_variation.base_unit_id" select-picker obj="<% defaults.units %>" data-live-search="true" data-size="8">
                                <option ng-value="unit.id" ng-repeat="unit in defaults.units"><% unit.code %> - <% unit.name %></option>
                            </select>
                        </div>
                    </td>
                    <td style="vertical-align: middle;">
                    	<input type="text" ng-model="adjustment.quantity" ng-change="computeNewTotal(adjustment.type, adjustment.quantity)" class="form-control input-sm" placeholder=""> 
	                </td>
                </tr>
                <tr>
                    <td colspan="2">New Total Quantity</td>
                    <td><% computation.new_total %></td>
                </tr>
            </tbody>
        </table>

	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div>