<div class="row stacked">
<!--     <div class="col-md-12">
        <h5>Filter By: </h5>
        <div class="row stacked">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control input-sm" ng-model="filter.campaign_type_id"  ng-change="doSearch()" select-picker obj="defaults.CampaignTypeSetting">
                        <option ng-value="0">All</option>
                        <option ng-value="val.id" ng-repeat="val in defaults.CampaignTypeSetting"><% val.title %></option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control input-sm" ng-model="filter.category_id"  ng-change="doSearch()" select-picker obj="defaults.CampaignCategorySetting">
                        <option ng-value="0">All</option>
                        <option ng-value="val.id" ng-repeat="val in defaults.CampaignCategorySetting"><% val.title %></option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Cause</label>
                    <select class="form-control input-sm" ng-model="filter.cause_id"  ng-change="doSearch()" select-picker obj="defaults.CampaignCauseSetting">
                        <option ng-value="0">All</option>
                        <option ng-value="val.id" ng-repeat="val in defaults.CampaignCauseSetting"><% val.title %></option>
                    </select>
                </div>
            </div>

        </div>
    </div> -->
    <div class="col-md-4">
        <div class="form-group form-md-line-input " style="margin-left: -15px !important;">
            <div class="col-md-12">
                <div class="input-group ">
                    <div class="input-group-control">
                        <input type="text" class="form-control" ng-model="pagination.search" my-enter="doSearch()" placeholder="Search...">
                        <div class="form-control-focus"> </div>
                    </div>

                    <span class="input-group-btn btn-right">
                        <button class="btn btn-sm green btn-outline filter-submit margin-bottom" ng-click="doSearch()" ><i class="fa fa-search"></i> Search</button>
                    </span>
                    <span class="input-group-btn btn-right">
                        <button class="btn btn-sm blue btn-outline filter-submit margin-bottom" ng-click="addStock()" ><i class="fa fa-plus"></i> Add Stock</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="pull-right" style="padding-top: 20px;">
            <!-- <button class="btn btn-default active"><span class="fa fa-search"></span> Search</button>
            <button class="btn btn-default"><span class="fa fa-image"></span> Images</button>
            <button class="btn btn-default"><span class="fa fa-map-marker"></span> Maps</button>
            <button class="btn btn-default"><span class="fa fa-camera"></span> Video</button> -->
            View 
            <div class="btn-group">
                <select class="" ng-model="pagination.itemsPerPage" select-picker obj="pagination.itemsPerPage" ng-change="setItemsPerPage(pagination.itemsPerPage)">
                    <option ng-value="10">10</option>
                    <option ng-value="20">20</option>
                    <option ng-value="50">50</option>
                    <option ng-value="100">100</option>
                </select>
                
            </div>
            records | Total Found <% pagination.totalItems %> records
        </div>
    </div>
</div>

<br>

<div class="table-container">
    <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
        <thead>
            <tr role="row" class="heading">
                <th width="4%"> </th>                                    
                <th width="10%"> Item Name </th>
                <th width="100"> Description </th>
                <th width="10%"> Unit </th>
                <th width="10"> Quantity </th>
                <th width="50"> Base Price </th>
                <th width="10%"> Selling Price </th>
                <th width="10%"> Status </th>
                <th width="30"> Date Added</th>
            </tr>
        </thead>
        <tbody>
                                               
            <tr ng-if="isLoading && pagination.objects.length <= 0" class="va-middle">
                <td colspan="8" align="center"><i class="icon-reload"></i></td>
            </tr>
            <tr ng-if="!isLoading && pagination.objects.length <= 0" class="va-middle">
                <td colspan="8" align="center">No Result Found</td>
            </tr>
            <tr ng-if="!isLoading && pagination.objects.length >= 1" class="va-middle" ng-repeat="obj in pagination.objects">
                <td>
                    <div class="btn-group">
                        <a class="btn btn-circle btn-default dropdown-toggle btn-xs" data-toggle="dropdown"> <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="updatePrice(obj)"> <span class="fa fa-eye"></span> Update Price </a>
                            </li>
                            <li>
                                <a ng-click="adjustStock(obj)"> <span class="fa fa-eye"></span> Adjust Stocks </a>
                            </li>
                            <li>
                                <a ng-click="updateItemInformation(obj.item_variation)"> <span class="fa fa-eye"></span> Update Item</a>
                            </li>
                            <li>
                                <a ng-click="viewInventory(obj)"> <span class="fa fa-eye"></span> View </a>
                            </li>
                        </ul>                                            
                    </div>
                </td>
                <td> <% obj.item_variation.item.name %> </td>
                <td> <% obj.item_variation.name %> </td>
                <td> <% obj.item_variation.base_unit.name %> </td>
                <td> <% obj.stocks %> </td>
                <td align="right"> <% obj.item_variation.base_price %> </td>
                <td align="right"> <% obj.item_variation.selling_price %> </td>
                <td><div user-status status="<% obj.stocks %>"></div></td>                                   
                <td> <% obj.formatted_created_at %> </td>

            </tr>                                
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">
        <div class="pull-right">
            <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" items-per-page="pagination.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
        </div>
    </div>
</div> 