<div class="parent-modal" style="position: relative;">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
        <h4 class="modal-title">Item Lists</h4>
    </div>

    <div class="modal-body"> 
    

        <div class="row stacked">
            <div class="col-md-6">
                <div class="form-group form-md-line-input " style="margin-left: -15px !important;">
                    <div class="col-md-12">
                        <div class="input-group ">
                            <div class="input-group-control">
                                <input type="text" class="form-control" ng-model="pagination.search" my-enter="doSearch()" placeholder="Search...">
                                <div class="form-control-focus"> </div>
                            </div>

                            <span class="input-group-btn btn-right">
                                <button class="btn btn-sm green btn-outline filter-submit margin-bottom" ng-click="doSearch()" ><i class="fa fa-search"></i> Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right" style="padding-top: 20px;">
                    <!-- <button class="btn btn-default active"><span class="fa fa-search"></span> Search</button>
                    <button class="btn btn-default"><span class="fa fa-image"></span> Images</button>
                    <button class="btn btn-default"><span class="fa fa-map-marker"></span> Maps</button>
                    <button class="btn btn-default"><span class="fa fa-camera"></span> Video</button> -->
                    <div class="btn-group">
                        <select class="" ng-model="pagination.itemsPerPage" select-picker obj="pagination.itemsPerPage" ng-change="setItemsPerPage(pagination.itemsPerPage)">
                            <option ng-value="10">10</option>
                            <option ng-value="20">20</option>
                            <option ng-value="50">50</option>
                            <option ng-value="100">100</option>
                        </select>
                        
                    </div>
                    | Total Found <% pagination.totalItems %> records
                </div>
            </div>
        </div>

        <hr>

        <div class="table-container">
            <table class="table table-striped table-bordered table-condensed table-hover table-checkable">
                <thead>
                    <tr role="row" class="heading">
                        <th width="4%"> </th>                                    
                        <th width="10%"> Item Name </th>
                        <th width="100"> Description </th>
                        <th width="10%"> Unit </th>
                        <th width="10"> Quantity </th>
                        <th width="10"> Selling Price </th>
                        <th width="10"> Status </th>
                    </tr>
                </thead>
                <tbody>
                                                       
                    <tr ng-if="isLoading && pagination.objects.length <= 0" class="va-middle">
                        <td colspan="7" align="center"><i class="icon-reload"></i></td>
                    </tr>
                    <tr ng-if="!isLoading && pagination.objects.length <= 0" class="va-middle">
                        <td colspan="7" align="center">No Result Found</td>
                    </tr>
                    <tr ng-if="!isLoading && pagination.objects.length >= 1" class="va-middle" ng-repeat="obj in pagination.objects">
                        <td>
                            <div class="btn-group">
                                <a ng-if="!isInTheList(obj.id)" ng-click="addToTheList(obj)" class="btn btn-circle btn-default btn-xs" data-toggle="dropdown"> <i class="fa fa-plus"></i></a> 
                                <a ng-if="isInTheList(obj.id)" ng-click="removeToTheList(obj.id)" class="btn btn-circle btn-danger btn-xs" data-toggle="dropdown"> <i class="fa fa-minus"></i></a> 
                            </div>
                        </td>
                        <td> <% obj.item_variation.item.name %> </td>
                        <td> <% obj.item_variation.name %> </td>
                        <td> <% obj.item_variation.base_unit.name %> </td>
                        <td> <% obj.stocks %> </td>
                        <td> <% obj.item_variation.selling_price %> </td>
                        <td><div user-status status="<% obj.stocks %>"></div></td> 
                    </tr>                                
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h5>
                    Can't find the item? <button type="button" ng-click="addItem()" class="btn btn-default btn-xs"><i class="fa fa-plus"></i>Add New</button>
                </h5>
                
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" items-per-page="pagination.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                </div>
            </div>
        </div> 

    </div>

    <div class="modal-footer">
        <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
    </div>

</div>