<div class="parent-modal" style="position: relative;">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" ></button>
	    <h4 class="modal-title">Update Item Price</h4>
	</div>

	<div class="modal-body"> 

		<div class="alert alert-danger" ng-if="errors.length > 0">
			<ul>
				<li ng-repeat="(key, value) in errors"><% value %></li>
			</ul>
		</div>
	    

		<div class="mt-comments">
            <div class="mt-comment">
                <div class="mt-comment-img">
                    <img src="/assets/pages/media/profile/avatar.png"> 
                </div>
                <div class="mt-comment-body">
                    <div class="mt-comment-info">
                        <span class="mt-comment-author"><% inventory.item_variation.item.name %></span>
                        <span class="mt-comment-date">Stocks: <% inventory.stocks %> <% inventory.item_variation.base_unit.code %></span>
                    </div>
                    <div class="mt-comment-text"> <% inventory.item_variation.name %> </div>
                </div>
            </div>
        </div>

        <hr>

        <table class="table table-striped table-hover table-bordered table-condensed">
            <thead>
            	<tr>
            		<th colspan="3" align="center" style="text-align: center;">Current Price</th>
            	</tr>
                <tr>
                	<th> Item Variation </th>
                    <th> Base Price </th>
                    <th> Selling Price </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                	<td valign="middle" style="vertical-align: middle;"><% inventory.item_variation.name %></td>
                    <td style="vertical-align: middle;">
                    	<input type="text" ng-model="inventory.item_variation.base_price" class="form-control input-sm" placeholder=""> 
	                </td>
                    <td style="vertical-align: middle;">
                    	<input type="text" ng-model="inventory.item_variation.selling_price" class="form-control input-sm" placeholder=""> 
	                </td>
                </tr>
            </tbody>
        </table>

	</div>

	<div class="modal-footer">
	    <a ng-if="!isLoading" class="btn dark btn-outline" ng-click="cancel()">Close</a>
	    <button ng-if="isLoading" class="btn blue">PROCESSING</button>
	    <button ng-if="!isLoading"  type="button" class="btn green " ng-click="submit()">Submit</button>
	</div>

</div>